{% extends "base.html" %}
{% block title %} dependents {% endblock %}

{% block content %}
<!-- <div class="d-flex flex-column bd-highlight mb-2"> -->
    <!-- planes -->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5 mb-1">
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                {% for dependent in dependents %}
                    <div class="col-lg-6 col-xl-4 mt-5">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <span class="display-4 fw-bold">{{ dependent[0] }}</span>
                                </div>
                                <ul class="list-unstyled mb-4">
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        <strong>{{ dependent[1] }}</strong>
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                        Date of Birth: {{ dependent[2] }}
                                    </li>
                                    <li class="mb-2">
                                        <i class="bi bi-check text-primary"></i>
                                       SSN: {{ dependent[4] }}
                                </ul>
                                <div class="d-grid"><a class="btn btn-outline-primary" href="{{ url_for('auth.dependent_form', dependent_id=dependent[4]) }}">SHOW INFO</a></div>
                            </div>
                        </div>
                    </div>        
                {% endfor %}
            </div>
          
        </div>

        <div class="d-flex justify-content-center mb-5 mt-5">
        <a href="{{ url_for('auth.dependent_form', dependent_id='add_dependent') }}" class="btn btn-warning " aria-current="page"> + Add Dependent</a>
        </div>
    </section>
  <!-- </div> -->

{% endblock %}




