{% extends 'base.html' %}
{% block title %} plan page {% endblock %}
{% block content %}
  <form method="POST" class="col-6 m-auto border pt-5 pb-5 mt-5 mb-5 ps-5 pe-5 shadow-sm rounded-1 form-style" >
    {{ form.hidden_tag() }}
    <h1 class="fw-bold text-center">Plan Details</h1>
    <div class="mb-3">
      {{ form.plan_type.label }}
      {{ form.plan_type(class="form-control", placeholder="Golden") }}
    </div>
    <div class="mb-3">
      {{ form.plan_coverage.label }}
      {{ form.plan_coverage(class="form-control", placeholder="broken hearts") }}
    </div>
    <div class="mb-3">
      {{ form.plan_price.label }}
      {{ form.plan_price(class="form-control", placeholder="100$") }}
    </div>
    <div class="dropdown mb-3">
      <a class="btn btn-success dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
        associated hospitals
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        {% for hospital in hospitals %}
         <li><a class="dropdown-item" href="#">{{ hospital }}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% if form_state == 'add_plan' %}
      <div class="d-flex justify-content-start">
        {{ form.plan_submit(class="btn btn-primary", value='Add') }}
      </div>
    {% else %}
      <div class="d-flex justify-content-start">
        {{ form.plan_submit(class="btn btn-primary", value='update') }}
      </div>
    {% endif %}
  </form>  
{% endblock %}