{% extends "base.html" %}
{% block title %} policies {% endblock %}

{% block content %}
<!-- <div class="d-flex flex-column bd-highlight mb-2"> -->
    <!-- planes -->
    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5 mb-1">
            <div class="row gx-5 justify-content-center">
                <!-- Pricing card free-->
                {% for policie in policies %}
                    <div class="col-lg-6 col-xl-4 mt-5">
                        <div class="card mb-5 mb-xl-0">
                            <div class="card-body p-5">
                                <div class="mb-3">
                                    <span class="display-6 fw-bold">{{policie[1]}}</span>
                                    <span>beneficiary ssn</span>
                                </div>
                                <div class="d-grid"><a class="btn btn-outline-primary" href="{{ url_for('auth.policy_form', policy_id=policie[0]) }}">SHOW INFO</a></div>
                            </div>
                        </div>
                    </div>        
                {% endfor %}
            </div>
          
        </div>

        <div class="d-flex justify-content-center mb-5 mt-5">
        <a href="{{ url_for('auth.policy_form', policy_id='add_policy') }}" class="btn btn-warning " aria-current="page"> + Add Dependent</a>
        </div>
    </section>
  <!-- </div> -->

{% endblock %}




