{% extends 'base.html' %}
{% block title %} profile {% endblock %}
{% block content %}
  <h1>welcome to your profile page<h1></h1>
  <form method="POST" class="col-6 m-auto border pt-5 pb-5 mt-5 mb-5 ps-5 pe-5 shadow-sm rounded-1 form-style" >
    {{ form.hidden_tag() }}
    <h1 class="fw-bold text-center">Profile Info</h1>
    <div class="mb-3">
      {{ form.profile_username.label }}
      {{ form.profile_username(class="form-control", placeholder="Jhone Doe") }}
    </div>
    <div class="mb-3">
      {{ form.profile_email.label }}
      {{ form.profile_email(class="form-control", placeholder="JhoneDoe@gmail.com") }}
    </div>
    <div class="mb-3">
      {{ form.profile_dob.label }}
      {{ form.profile_dob(class="form-control",type="date", placeholder="y/ m/ d") }}
    </div>
    <div class="mb-3">
      {{ form.profile_ssn.label }}
      {{ form.profile_ssn(class="form-control", placeholder="your 9 digits ssn here") }}
    </div>
    <div class="mb-3">
      {{ form.profile_phone.label }}
      {{ form.profile_phone(class="form-control", placeholder="0123456789") }}
    </div>
    <div class="d-flex justify-content-start">
      {{ form.profile_submit(class="btn btn-primary") }}
    </div>
    <div class="list-group mt-5">
      <a href="{{ url_for('auth.profile_page') }}" class="list-group-item list-group-item-action active" aria-current="true">
        Profile Page
      </a>
      <a href="{{ url_for('auth.dependents_page') }}" class="list-group-item list-group-item-action">Dependents</a>
      <a href="#" class="list-group-item list-group-item-action">A third link item</a>
      <a href="#" class="list-group-item list-group-item-action">A fourth link item</a>
      <a class="list-group-item list-group-item-action disabled">A disabled link item</a>
    </div>
  </form>  
{% endblock %}